<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleIdentifier</key>
        <string>com.plexapp.agents.pheromir.hanimetv</string>

        <key>PlexAgentAttributionText</key>
        <string>HanimeTV agent, created by Pheromir</string>

        <key>PlexFrameworkVersion</key>
        <string>2</string>

        <key>PlexPluginClass</key>
        <string>Agent</string>

        <key>PlexClientPlatforms</key>
        <string>*</string>

        <key>PlexPluginCodePolicy</key>
        <string>Elevated</string>
</dict>
</plist>


